<!DOCTYPE html>
<html>
	<head>
		<title>Shot</title>
		<script type="text/javascript" src="/static/js/jquery-1.7.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.timers-1.2.js"></script>
		<link rel="stylesheet" type="test/css" href="/static/css/style.css" />
		<script type="text/javascript" src="/static/js/index.js"></script>
	</head>
	<body>
		<div id="main">
			<div id="panel">
				<div id="score"></div>
				<div id="time"></div>
			</div>
			<div id="game">
				<div id="sound"></div>
				<div id="start">Start</div>
			</div>
		</div>
	</body>
</html>